/* Estilos generales para el contenedor */
.app-container {
  background-color: #f8f9fa; /* Fondo claro */
  min-height: 100vh; /* Asegúrate de que ocupe toda la altura */
}

/* Estilos para el header */
.header {
  margin-bottom: 20px; /* Espacio debajo del header */
}

/* Estilos para la imagen */
.img-fluid {
  max-width: 100%;
  height: auto; /* Asegura que la imagen se ajuste responsivamente */
}

/* Estilos para el navbar */
.navbar-custom {
  background-color: #343a40; /* Fondo oscuro para el navbar */
}

/* Estilos para el texto del navbar */
.navbar-custom .navbar-text {
  color: white; /* Texto blanco */
}

/* Estilos para el contenedor principal */
.main-content {
  padding: 20px; /* Espaciado interno */
}

/* Estilos para el footer */
.footer {
  margin-top: 20px; /* Espacio superior en el footer */
}

body {
  margin: -20; /* Asegúrate de que no haya márgenes */
  padding: 0; /* Asegúrate de que no haya paddings */
}

