@import 'reset.css';
/* Estilos base para el header */
header {
  background-color: #007bff; /* Fondo azul (clase bg-primary de Bootstrap) */
  color: white; /* Texto blanco */
  padding: 0rem 0;
  text-align: center;
}




