.custom-header {
    background-color: black; /* Fondo negro */
    padding: 1rem; /* Espaciado interno adecuado */
    color: white; /* Elimina el color transparente */
    display: inline-block; /* Mantén inline-block para centrar con text-align */
    font-size: 2rem; /* Ajusta el tamaño de la fuente según sea necesario */
    line-height: 1.5; /* Ajusta el espaciado entre líneas */
    text-align: center; /* Alinea el texto al centro */
    border-radius: 5px; /* Redondea los bordes */
    margin-top: 1rem; /* Ajusta el espaciado superior */
}

.text-yellow {
    color: yellow; /* Color amarillo */
}

.text-white {
    color: white; /* Color blanco */
}
