.btn-large {
    font-size: 5rem; /* Tamaño de fuente para pantallas grandes */
    padding: 1px 2px; /* Aumenta el padding para un mejor diseño */
}


/* Estilo general para el iframe */
iframe {
    width: 100%;
    height: 450px; /* Altura general */
    border: 0;
    margin-top: 0; /* Margen superior por defecto */
}

/* Media queries para pantallas pequeñas */
@media (max-width: 576px) {
    .btn-large {
        font-size: 1.5rem; /* Reduce el tamaño de la fuente en pantallas pequeñas */
        padding: 1px 2px; /* Aumenta el padding para mejorar la usabilidad */
    }
}


/* Media query para pantallas pequeñas */
@media (max-width: 576px) {
    iframe {
        margin-top: 20px; /* Ajusta el margen superior en pantallas pequeñas */
        height: 300px; /* Puedes reducir la altura si es necesario */
    }
}