.custom-title {
    margin-top: 80px; /* Ajusta este valor según sea necesario */
  }
  
  .custom-description {
    margin-top: 10px; /* Ajusta este valor según sea necesario */
  }
  
  .custom-button {
    padding: 0px 8px;
    font-size: 3rem; /* Ajustado a un tamaño legible */
    border-radius: 4px;
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    border: none; /* Elimina el borde por defecto */
    transition: background-color 0.3s ease; /* Efecto suave en el hover */
  }
  
  .custom-button:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al hacer hover */
    color: #f8f9fa; /* Color de texto un poco más claro */
  }
  
  .custom-button:focus {
    outline: none; /* Quita el borde al hacer focus */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Sombra alrededor para el enfoque */
  }
  
  



.vision-card {
    width: 100%;
    height: auto;
    min-height: 300px;
    position: relative;
}

.vision-body {
    height: auto;
    padding: 10px;
}

.vision-logo {
    position: absolute;
    top: 2px;
    left: 1%;
    max-width: 80px;
    z-index: 10;
}

.vision-row {
    margin-top: -1px;
}

.vision-description {
    position: relative;
    padding: 5px;
    margin-top: 50px; /* Ajuste general */
    z-index: 20;
}

.vision-image {
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    height: auto; /* Mantiene la proporción */
}

/* Media queries para pantallas pequeñas */
@media (max-width: 576px) {
    .vision-logo {
        max-width: 60px;
    }

    .vision-image {
        height: 300px !important; /* Aumenta la altura de la imagen en pantallas pequeñas */
        width: 100%; /* Asegúrate de que ocupe todo el ancho */
        object-fit: cover; /* Asegúrate de que la imagen cubra el área */
        object-position: 25% center; /* Desplaza el contenido 10% hacia la izquierda */
    }
    

    .display-4 {
        font-size: 1.5rem;
    }

    .fs-4 {
        font-size: 1rem;
    }

    .vision-description {
        margin-top: 10px; /* Ajustar el texto en pantallas pequeñas */
    }
}
