.custom-title {
    margin-top: 40px; /* Ajusta este valor según sea necesario */
    font-size: 2.5rem; /* Tamaño en pantallas grandes */
    font-weight: bold;
}

.custom-description {
    margin-top: 10px;
    font-size: 1.2rem;
}

.custom-button {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background-color: #007bff; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    border: none; /* Elimina el borde por defecto */
    transition: background-color 0.3s ease; /* Efecto suave en el hover */
}

.custom-button:hover {
    background-color: #0056b3; /* Color de fondo más oscuro al hacer hover */
    color: #f8f9fa; /* Color de texto un poco más claro */
}

.custom-button:focus {
    outline: none; /* Quita el borde al hacer focus */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); /* Sombra alrededor para el enfoque */
}

.vision-card {
    width: 100%;
    height: auto;
    min-height: 300px;
    position: relative;
    margin: 0 auto;
}

.vision-body {
    height: auto;
    padding: 10px;
}

.vision-logo {
    position: absolute;
    top: 2px;
    left: 1%;
    max-width: 80px;
    z-index: 10;
}

.vision-row {
    margin-top: -1px;
}

.vision-description {
    position: relative;
    padding: 15px;
    margin-top: 50px; /* Ajuste general */
    z-index: 20;
    text-align: center;
}

.vision-image {
    width: 100%; /* Asegúrate de que ocupe todo el ancho */
    height: auto; /* Mantiene la proporción */
    object-fit: cover;
}

.vision-image-col {
    text-align: center;
    padding: 10px;
    position: relative;
}

/* Media queries para pantallas pequeñas */
@media (max-width: 576px) {
    .vision-logo {
        max-width: 60px;
    }

    .vision-image {
        height: 300px !important; /* Aumenta la altura de la imagen en pantallas pequeñas */
        width: 100%; /* Asegúrate de que ocupe todo el ancho */
        object-fit: cover;
        object-position: 25% center; /* Desplaza el contenido */
    }

    .custom-title {
        font-size: 1.8rem; /* Tamaño en pantallas pequeñas */
        margin-top: 10px; /* Ajusta el espacio superior */
    }

    .custom-description {
        font-size: 1rem;
    }

    .display-4 {
        font-size: 1.5rem;
    }

    .fs-4 {
        font-size: 1rem;
    }

    .vision-description {
        margin-top: 10px; /* Ajuste de margen superior para pantallas pequeñas */
    }

    /* Estilos para mostrar el mensaje debajo de la imagen en pantallas pequeñas */
    .showroom-message {
        display: block;
        margin-top: 15px;
        text-align: center;
        font-size: 1rem;
        color: yellow; /* Cambié el color a amarillo */
        text-decoration: underline;
    }

    .desktop-showroom-message {
        display: none;
    }

    /* Estilos para el contenedor superpuesto en pantallas pequeñas */
    .overlay-content {
        position: absolute;
        top: 55%; /* Ajusta según sea necesario */
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor visibilidad */
        padding: 1px;
        border-radius: 8px;
        color: white;
        width: 90%;
        height: 40%;
        z-index: 10; /* Asegura que esté debajo del mensaje */
    }

    .vision-image {
        width: 100%;
        height: auto;
    }
}

/* Estilos para ocultar el mensaje en pantallas grandes */
@media (min-width: 577px) {
    .showroom-message {
        display: none; /* Oculta el mensaje en pantallas grandes */
    }

    .desktop-showroom-message {
        display: inline;
        font-size: 1rem;
        color: #0000ffd5;
        text-decoration: underline;
    }
}
