/* VisionNocturna.css */

.vision-container {
    background-color: hwb(0 100% 0%); /* Fondo claro */
    padding: 0px;
    border-radius: 8px;
  }
  
  .vision-card {
    border: none;
    overflow: hidden;
  }
  
  .vision-body {
    padding: 0px;
  }
  
  .vision-logo {
    max-width: 120px;
    height: auto;
  }
  
  .vision-row {
    margin-top: -55px;
  }
  
  .vision-description {
    padding: 20px;
  }
  
  .custom-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #403434; /* Gris oscuro */
    margin-bottom: 15px;
  }
  
  .custom-description {
    color: #6c757d; /* Gris más claro */
    font-size: 1.1rem;
    line-height: 1.5;
  }
  
  .desktop-showroom-message {
    margin-top: 15px;
  }
  
  .vision-image-col {
    position: relative;
    padding: 20px;
  }
  
  .vision-image {
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .vision-image:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px #ff000033;
  }
  
  .overlay-content {
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    color: hsl(0, 100%, 100%);
  }
  
  .custom-button {
    background-color: #007bff;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 50px;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .custom-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  .link-text {
    color: #ffc107; /* Amarillo */
    cursor: pointer;
    text-decoration: underline;
  }
  
  .showroom-message {
    margin-top: 15px;
  }
  
  
  
 
  
 /* Estilos para el modal */
/* Estilo del modal general */
.form-modal .modal-dialog {
  max-width: 1200px;  
  max-height: 1200px;             /* Establece un ancho máximo para el modal */
  margin: 100%;                       /* Restablece los márgenes */
  top: 50%;                        /* Centra el modal verticalmente */
  right: 100px;                        /* Ubica el modal a la derecha de la pantalla */
  transform: translateY(-50%);     /* Ajusta para que se centre en el eje vertical */
}

/* Fondo oscuro del modal */
.form-modal .modal-backdrop {
  background-color: #ff000099;  /* Fondo semi-transparente oscuro */
}

/* Estilos para el encabezado del modal */
.form-modal .modal-header {
  background-color: #007bff;            /* Fondo azul en el encabezado */
  color: white;                         /* Texto blanco */
  border: none;                         /* Eliminar borde inferior */
  padding: 15px 20px;                   /* Espaciado en el encabezado */
  border-radius: 8px 8px 0 0;           /* Bordes redondeados en la parte superior */
  text-align: center;                   /* Centrado del título */
}

/* Estilo del título en el encabezado */
.form-modal .modal-title {
  font-size: 1.5rem;                    /* Tamaño de fuente más grande */
  font-weight: bold;                    /* Negrita para el título */
  margin-bottom: 0;                     /* Eliminar márgenes innecesarios */
}

/* Estilo del botón de cierre */
.form-modal .btn-close {
  background-color: transparent;       /* Fondo transparente para el botón de cierre */
  border: none;                         /* Elimina el borde del botón */
  font-size: 1.5rem;                    /* Tamaño mayor del ícono */
  color: white;                         /* Color blanco para el ícono */
}

/* Estilo al pasar el ratón sobre el botón de cierre */
.form-modal .btn-close:hover {
  color: #ffc107;                       /* Cambia el color a amarillo cuando se pasa el ratón */
}

/* Estilos para el cuerpo del modal */
.form-modal .modal-body {
  padding: 20px;                        /* Espaciado interno alrededor del contenido */
  background-color: #f8f9fa;            /* Fondo gris claro para el cuerpo */
  border-radius: 0 0 8px 8px;           /* Bordes redondeados en la parte inferior */
}

/* Estilos para los botones en el pie del modal */
.form-modal .modal-footer .btn {
  background-color: #007bff;            /* Fondo azul para los botones */
  color: white;                         /* Texto blanco */
  border: none;                         /* Elimina los bordes */
  padding: 10px 20px;                   /* Padding para los botones */
  border-radius: 4px;                   /* Bordes redondeados */
  font-size: 1rem;                      /* Tamaño de fuente adecuado */
}

/* Estilo de los botones al pasar el ratón */
.form-modal .modal-footer .btn:hover {
  background-color: #0056b3;            /* Fondo azul más oscuro cuando se pasa el ratón */
}


.visitas-btn {
  margin-top: 10px;
  background-color: #0056b3;
  border-color: #0056b3;
  font-size: 16px;
  padding: 10px 20px;
}

.visitas-btn:hover {
  background-color: #003c7d;
  border-color: #003c7d;
}
